/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:before,
:after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.container {
  max-width: 1140px;
  margin: auto;
}
header,
section,
footer {
  display: block;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
/* header */
/* 這個設定讓背景圖放大整頁
 */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  color: #4562f4;
  font-weight: bold;
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
}

.header .nav {
  padding: 0 15px;
}
.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.header .nav ul li a {
  display: block;
  padding: 25px 0;
  color: #4562f4;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.5s ease;
}
.header .nav ul li a:active,
.header .nav ul li a:hover {
  color: rgb(66, 152, 228);
}

/* home section */
.home-section {
  min-height: 100vh;
  position: relative;
}
.home-section .slide {
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}
.home-section .slide.active {
  opacity: 1;
  visibility: visible;
}
/* 下面設定讓背景模糊 */
.home-section .slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0, 7);
  z-index: -1;
}
.home-sectio n .row {
  min-height: 100vh;
}
.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 200px 15px;
  text-align: center;
}
.home-section .home-content p {
  font-size: 24px;
  color: #4562f4;
  margin: 0 0 45px;
}
.home-section .slide.active .home-content p {
  animation: fadeInTop 1s ease forwards;
}
@keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.home-section .home-content h1 {
  font-size: 80px;
  color: #4562f4;
  margin: 0;
  font-weight: normal;
  font-family: "Great Vibes", cursive;
}
.home-section .slide.active .home-content h1 {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 0.5;
}

.home-section .home-content span {
  font-size: 20px;
  display: inline-block;
  border: 1px solid #4562f4;
  border-radius: 30px;
  color: #4562f4;
  padding: 7px 30px;
  margin: 100px 0 0;
}

.home-section .slide.active .home-content span {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 0.7s;
}
